* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    transition: all 300ms ease;
}

body {
    background: white;
    overflow-x: hidden;
}

header, main, footer {
    width: 100%;
}

header {
    top: 0;
    left: 0;
    position: fixed;
}

section {
    padding: 10%;
    box-sizing: border-box;
    width: 100vw;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

section h3 {
    margin: 2rem auto;
    text-align: center;
}

p {
    margin: 1rem auto;
}

a {
    cursor: pointer;
    color: currentColor;
    text-decoration: none;
    display: inline-block;
}

hr {
    margin: 16px auto;
    border-style: solid;
    border: solid 0.5px #eee;
}

h1 {
    color: white;
    font-size: 2.5em;
}

h2 {
    color: white;
    font-size: 2em;
    font-weight: 100;
}

h3 {
    color: #6db4b1;
    font-size: 1.5em;
}

.hvc {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.connect {
    background: rgba(0, 0, 0, 0.1);
}

.connect a:hover {
    background: rgba(0, 0, 0, 0.6);
}

.connect a {
    padding: 6px;
    color: white;
}

.connect > div:nth-child(1) > a:nth-child(1) {
    padding: 10px;
}

.connect > div:nth-child(2) > a:nth-child(1) {
    background: #55acee;
}

.connect > div:nth-child(2) > a:nth-child(2) {
    background: #3b5998;
}

.connect > div:nth-child(2) > a:nth-child(3) {
    background: #d94a39;
}

.logo {
    padding: 1rem;
}

.logo > img {
    max-height: 125px;
    display: block;
    margin: auto;
}

.slider {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-color: #f5f5f5;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 1.4rem solid #6db4b1;
}

.slide > div {
    padding-top: calc(250px - 2.5rem - 2rem);
    padding-bottom: calc(250px - 2.5rem - 2rem);
    transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

.slide h1, .slide h2 {
    color: white;
    text-align: center;
}

.slide.zero {
    background-image: url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,fl_any_format.lossy,h_800,w_2000/v1481306851/Triple-Peaks-First-Five-Guys_voe1bg.jpg");
}

.slide.one {
    background-image: url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,fl_any_format.lossy,h_800,w_2000/v1481306851/Triple-Peaks-First-Five-Guys_voe1bg.jpg");
}

.paralax {
    padding: 10%;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.paralax p {
    color: white;
    margin: auto;
}

.paralax h3 {
    color: white;
    margin: 1rem;
}

.paralax .button {
    margin: 1rem;
}

.button {
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.white {
    color: #6db4b1;
    background: #f5f5f5;
}

.white:hover {
    color: #6db4b1;
    background: white;
}

.blue {
    color: #f5f5f5;
    background: #6db4b1;
}

.blue:hover {
    background: #8fc5c3;
}

.boxes {
    color: #333;
    margin: 0 16px 16px 16px;
    padding: 0 16px 16px 16px;
    text-align: left;
    max-width: none;
}

.boxes > div {
    width: 30%;
    margin: 8px;
    padding: 16px;
    border-radius: 3px;
    background: #f5f5f5;
    display: inline-block;
}

.boxes > div h3 {
    color: #6db4b1;
}

.boxes p {
    text-align: left;
}

form {
    padding: 1rem;
    max-width: 960px;
}

form input, form textarea {
    width: 100%;
    border: none;
    padding: 0.5rem;
    margin: 1rem auto;
    box-sizing: border-box;
    border-bottom: 1px solid #cacaca;
}

form input[type="submit"] {
    width: auto;
}

form img {
    padding-right: 1rem;
    padding-left: 1rem;
    max-width: 250px;
    max-height: 70px;
    vertical-align: middle;
    filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

form img:hover {
    filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

.response {
    font-size: 2rem;
    text-align: center;
}

/*
	footer
*/
.upper-foot {
    color: #6db4b1;
    background: #f5f5f5;
}

.lower-foot {
    color: white;
    background: #6db4b1;
}

.lower-foot > div:nth-child(1) img {
    padding: 8px 0;
    max-width: 50px;
    max-height: 100px;
    vertical-align: middle;
    filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.lower-foot > div:nth-child(1) img:hover {
    filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

footer > div {
    padding: 16px 0;
}

footer .links {
    color: #dfedef;
    font-weight: 300;
    background: #222;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

footer .links > * {
    text-align: left;
}

footer .links > div {
    margin: 16px 0;
}

footer .links > div > h3 {
    margin: 8px 0;
}

footer .copyright a {
    color: white;
    text-decoration: underline;
}

footer .copyright a:hover {
    color: #dfedef;
}
